/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2020, 3:01:14  PM
    Author     : User
*/

.signIn {
    -fx-background-radius: 20px !important;
    -fx-background-color:  linear-gradient(to right top, #0055CF, #002265, #0055CF);
}
.signIn:hover{
    -fx-background-color: #004bb8;
}


.background {
    -fx-background-image: url("file:G:/1434.jpg");
    -fx-background-size: 100% 100%;
    /*-fx-background-color:  #222222;
    -fx-background-color: linear-gradient(to left bottom, #00cfcf, #009fbd, #006ea2, #00407a, #00144a);
*/
}
